
body {
    background-color: #373737;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: aqua;
    border-style: solid;
    border-width: 2px;
    width: 50%;
    height: 97vh;
    margin-left: 350px;
}

label {
    display: flex;
    font-size: 20px;
}

input {
    display: flex;
    height: 20px;
    width: 300px;
}

div {
    padding: 10px;
    color: white;
}

.submit {
    background-color: green;
    border-radius: 5%;
    border: black;
    font-size: small;
    padding: 20px;
    text-align: center;
    font-weight: 700;
    margin: 0;
    color: white;
    width: 100px;
}

.b {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.gg {
    background-color: #373737;
    border-style: solid;
    border-color: aqua;
    color: white;
    padding: 10px;
    width: 100px;
    font-size: medium;
    border-radius: 8px;
}

.an{
    background-color: #373737;
    color: white;
    padding: 10px;
    margin-left: 50px;
    border-radius: 8px;
    border-style: solid;
    border-color: aqua;
}
h1 {
    text-align: center;
    background-color: none;
    font-size: 40px;
    padding-top: 20px;
    margin-bottom: 20px;
    color: white;
}

a {
    display: inline-block;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    color: white;
}

img {
    width: 100px;
}

.main {
    width: 1250px;
    margin: 5px;
    height: 810px;
}

.holders {
    display: flex;
    font-size: medium;
    color: white;
    padding: 0;
    margin-bottom: 0x;
    border-style: solid;
    border-color: aqua;
    border-radius: 5px;
    border-width: 0.5px;
    width: 1150px;
    margin-left: 40px;
}


hr {
    border-width: 70px;
    color: #f08080;
    margin: 0;
}

.fs {

    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 40px;
   /* border-style: solid; */
    padding: 40px;
    padding-top: 30px;
    padding-bottom: 5px;
    width: 1250px;
    margin-left: 30px;
    margin-top: 10px;
}

.main {
   /* border-style: solid; */
    margin-left: 45px;
    margin-top: 0;
    border-top: 5px;
}

a:hover {
    color: aqua; /* Change to any color you prefer */
}

span {
    color: aqua;
}


