
body {
    background-color: #373737;
}

.form {
    text-align: center;
    background-color: none;
    border-radius: 1%;
}


div {
    padding: 10px;
}
.submit {
    background-color: green;
    border-radius: 20%;
    border: none;
    padding: 10px;
    font-size: large;
    font-weight: 700;
    margin: 10px;
}

h1 {
    text-align: center;
    background-color: none;
    font-size: x-large;
    padding-top: 20px;
    margin-bottom: 20px;
}

a {
    display: inline-block;
    padding: 20px;
    text-align: center;
    color: black;
    text-decoration: none;
    color: white;
}

img {
    width: 100px;
}

.main {
    width: 1250px;
    margin: 5px;
    height: 810px;
}

.holders {
    display: flex;
    font-size: medium;
    padding: 0;
    margin-bottom: 0x;
    border-style: solid;
    border-color: white;
    border-radius: 5px;
    border-width: 0.5px;
    width: 1150px;
    margin-left: 40px;
}

.bg {
       
}

hr {
    border-width: 70px;
    color: #f08080;
    margin: 0;
}

.fs {

    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 40px;
   /* border-style: solid; */
    padding: 30px;
    width: 1250px;
    margin-left: 10px;
    margin-top: 10px;
}

.main {
   /* border-style: solid; */
    margin-left: 10px;
    margin-top: 0;
    border-top: 5px;
}

a:hover {
    color: yellow; /* Change to any color you prefer */
  }

span {
    color: aqua;
}
